<div id="survey-background">
  <div class="row container">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <% @content[:categories].each_with_index do |category, index| %>
          <div class="panel panel-default">
              <div class="panel-heading category-title" role="tab" id="<%= category.id %>">
              <h4 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsible<%= category.id %>" aria-expanded="<% if index == 0 %> true <% else %> false <% end %>" aria-controls="collapsible<%= category.id%>">
                    <b><%= category.name %></b>
                  </a>
              </h4>
              </div>
              <div id="collapsible<%= category.id %>" class="panel-collapse collapse <% if index == 0 %> in <% end %>" role="tabpanel" aria-labelledby="collapsible<%= category.id%>">
              <div class="panel-body">
                <div class="category-description">
                  <p><em><%= category.description %></em></p>
                </div>
                <% category.questions.each do |question| %>
                  <p><b><%= question.description %></b></p>
                  <p>
                  <% question.answers.where(user_id: current_user.id).each do |answer| %>
                    <td><%= answer.description %></td>
                    <td><%= link_to 'Delete', answer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  <% end %>
                  </p>
                
                  <% if question.answers.where(user_id: current_user.id).empty? %>
                    <%= render 'form', answer: @content[:answer], question_id: question.id %>
                  <% end %>

                <% end %>
              </div>
              </div>
          </div>
        <% end %>
    </div>
  </div>
</div>